@model KisilikEnvanteriTesti.Models.UserMail.UserPasswordClass
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/_Layout/Layout.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Parolanızı mı Unuttunuz?</h2>

        <hr>

    </div>
    <div class="col-md-2">
        <!-------null------>
    </div>
    <div class="col-md-5">
        <table class="table table-nonbordered" style="margin-left:330px;">
            @using (Html.BeginForm("ChangePassword", "ForgotPassword", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>  <span class="text-uppercase">YENİ ŞİFRE: </span></td>
                    <td>  @Html.PasswordFor(m => m.Sifre2, new { @class = "form-control" })  @Html.ValidationMessageFor(m => m.Sifre2) </td>
                </tr>
                <tr>
                    <td>  <span class="text-uppercase">ŞİFRE TEKRAR </span></td>
                    <td>  @Html.PasswordFor(m => m.SifreTekrar2, new { @class = "form-control" })  @Html.ValidationMessageFor(m => m.SifreTekrar2)</td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  <span style="color:red">@ViewBag.Mesaj</span><button type="submit" class="btn btn-primary">Doğrula</button></td>
                </tr>
            }
            @{
                var message = TempData["AlertMessage"] ?? string.Empty;
            }
        </table>
        <script type="text/javascript">
                 var message = '@message';

                if(message) alert(message);

        </script>

    </div>
</div>

